reset
blockquote,body,dd,dl,dt,fieldset,figure,h1,h2,h3,h4,h5,h6,html,iframe,legend,li,ol,p,textarea,ul{margin:0;padding:0}ul{list-style:none}button,input,select,textarea{margin:0}img{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emojiv', 'Segoe UI Emoji', 'Segoe UI Symbol';
  box-sizing: border-box;
}

*,
*::before,
*::after {
  line-height: 1.5em;
  box-sizing: inherit;
}

body {
  background-color: rgb(249, 249, 249);
}

nav {
  display: flex;
  justify-content: right;
}

nav ul {
  display: inline-flex;
  margin: 1em;
}

nav ul li {
  margin-right: 2em;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
}

main li {
  display: flex;
  align-items: center;
  border: 2px solid black;
  margin: 2em;
  max-width: 35em;
}

main h1 {
  font-size: 2.2em;
  margin-bottom: 2em;
}

main li p:nth-of-type(1) {
  font-size: 2.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

main li p:nth-of-type(2) {
  font-size: 1.5em;
  margin-left: 2.5em;
}

main li:hover {
  text-decoration: underline;
  cursor: pointer;
}

main li:hover {
  box-shadow: 7px 7px #b4b4b4;
}

main li:last-of-type {
  height: 4em;
  background-color: black;
}

main li:last-of-type:hover {
  background-color: #b4b4b4;
  box-shadow: none;
}

main li:last-of-type a {
  width: 100%;
  height: inherit;
}

main li:last-of-type p {
  font-size: 1.5em;
  color: white;
  margin: auto;
}

main a {
  color: black;
  text-decoration: none;
}

main li a {
  display: flex;
  align-items: center;
  width: 100%;
}

main li img {
  width: 15%;
}

form {
  width: 30%;
}

label {
  display: block;
}

label,
fieldset {
  margin: 1em;
}

fieldset {
  border: none;
  display: inline-flex;
  width: 92%;
}

fieldset > div {
  margin-top: 0.8em;
  border: 1px solid black;
  display: inline-flex;
  width: 50%;
  background-color: white;
}

fieldset > div label:first-of-type {
  margin-left: 2em;
}

input {
  display: block;
  width: 100%;
  margin-top: 1em;
  padding: 0.8em;
  border: 1px solid black;
  border-radius: 0.125em;
}

button {
  margin-top: 2em;
  display: block;
  font-size: 1.25em;
  padding: 0.5em;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  color: gray;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

#edit {
  margin-top: 2em;
  margin-right: 1em;
  height: 10%;
  font-size: 1.25em;
  padding: 0.5em;
  background-color: black;
  border: 1px solid black;
  text-align: center;
  color: white;
  cursor: pointer;
}

#edit:hover {
  background-color: #b4b4b4;
  box-shadow: none;
}
