<html lang="nl">
<%- include('head.ejs') %>
  <body>
    <%- include('nav.ejs') %>
      <main>
        <form class="login form" action="/" method="POST" enctype="multipart/form-data">
          <label> Naam *
            <input type="text" name="naam" placeholder="Vul hier je naam in" required>
          </label>

          <fieldset>
            <legend>Geslacht *</legend>
            <div>
              <label>
                <input type="radio" name="geslacht" value="man" required> Man
              </label>
              <label>
                <input type="radio" name="geslacht" value="vrouw" required> Vrouw
              </label>
            </div>
          </fieldset>

          <label> Geboortedatum*
            <input type="date" name="geboortedatum">
          </label>

          <label> Lichaamsgewicht *
            <input type="number" name="lichaamsgewicht" placeholder="Vul hier je lichaamsgewicht in" required>
          </label>

          <label> Avatar *
            <input type="file" name="image" accept="image/jpeg" required>
          </label>
          
          <button type="submit" value="TOEVOEGEN">TOEVOEGEN</button>
        </form>
      </main>
      <%- include('tail.ejs') %>
  </body>
</html>
