<html lang="nl">
<%- include('head.ejs') %>
  <body>
    <%- include('nav.ejs') %>
    <main>
      <% if (data) { %>
        <h2>
          <%= data.naam %>
        </h2>
        <% } %>
    </main>
    <%- include('tail.ejs') %>
  </body>

</html>
