<html lang="nl">
<%- include('head.ejs') %>

  <body>
    <%- include('nav.ejs') %>
      <main>
        <form class="login" action="/login" method="POST" enctype="multipart/form-data">
          <label> Gebruikersnaam *
            <input type="text" name="gebruikersnaam" placeholder="Vul hier je gebruikersnaam in" required>
          </label>

          <label> Wachtwoord *
            <input type="password" name"wachtwoord" placeholder="Vul hier je wachtwoord in" required>
          </label>
          <p><a href="/signup">Nog geen account? Klik hier.</a></p>
          <button type="submit" value="Login">Log in</button>
        </form>
      </main>
      <%- include('tail.ejs') %>
  </body>

</html>
