<html lang="nl">
<%- include('head.ejs') %>

  <body>
    <%- include('nav.ejs') %>
      <main>
        <form action="/login" method="POST" enctype="multipart/form-data">
          <label> Gebruikersnaam
            <input type="text" name="username">
          </label>

          <label> Wachtwoord
            <input type="password" name"password">
          </label>
          <button type="submit" value="Log in">Log in</button>
        </form>
      </main>
      <%- include('tail.ejs') %>
  </body>

</html>
